@import "../../../styles/variables.scss";

.app-header {

  &--admin {
    background-color: $btn-confirmation-cancel;
  }

 nav ul {
    list-style: none;
    display: flex;

    li {
      color: white;
      font-size: $font-size-medium;
      margin: $padding-small;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}











.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: end;
  height: 60px;
  background-color: $main-backgound-color;
  position: relative;
}

.logo {
}

.menu-icon {
  display: none;
  margin-right: 2rem;
}

.nav-elements {
  background-color: $main-backgound-color;
  z-index: 10;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: baseline;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 720px) {
  .menu-icon {
    display: block;
    width: 5rem;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: $main-backgound-color;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    // width: 270px;
    width: 100%;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}